<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>mal-ptw-match</title>
</head>
<body>
    <header>
        <%- include("header") -%>
    </header>
        <% if (!locals.user1 && !locals.user2) { %>
            <h2>Enter users please</h2>
        <% } %>
        <form action="/" method="get">
            
            <!-- <label for="user1">User 1</label> -->
            <input type="text" name="user1" placeholder="user 1" <% if(locals.user1) {%> value="<%= user1 %>" <% } %>>
            
            <button type="submit" onclick="showWorking()">match!</button>

            <input type="text" name="user2" placeholder="user 2" <% if(locals.user2) {%> value="<%= user2 %>" <% } %>>
            <!-- <label for="user2">User 2</label> -->
            
        </form>

    <%- include("list") -%>
    <footer>
        <%- include("footer") -%>
    </footer>

    <script>
        function showWorking() {
            const button = document.querySelector("button");
            const iniText = "Working.";
            let text = iniText;
            let count = 0;

            setInterval(() => {
                button.innerHTML = text;
                text = text + ".";
                count++
                if (count == 3) {
                    text = iniText;
                    count = 0;
                }
            }, 1000);
        }
    </script>
</body>
</html>
