<% if (locals.user1 && locals.user2) { %>
    <h3><a href="https://myanimelist.net/profile/<%= user1 %>"><%= user1 %></a> and <a href="https://myanimelist.net/profile/<%= user2 %>"><%= user2 %></a> both plan to watch:</h3>
<% } %>
     
<div class="list">
    <% if (locals.list && locals.list.length > 0) { %>
        
            <% list.forEach(element => { %>
                <div class="anime" style="background-image: url(<%=element.main_picture.medium%>)">
                    <a href="https://myanimelist.net/anime/<%= element.id %>" ><%= element.title %> </a>
                </div>
            <% }) %>
        
    <% } else if (!locals.home) { %>
        <h2>Oops.. nothing is here.</h2>
    <% } %>
</div>